// start color-variables
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$grays: (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900) !default;

$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

$main_colors: (
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "white": $white,
    "gray": $gray-600,
    "gray-dark": $gray-800 ) !default;

$primary: $blue;
$secondary: $gray-600;
$success: $green;
$danger: $red;
$warning: $yellow;
$info: $cyan;
$light: $gray-100;
$dark: $gray-900;

$theme_colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark
);

$amounts: (
    100: 0.8,
    200: 0.6,
    300: 0.4,
    400: 0.2,
    500: 0,
    600: 0.2,
    700: 0.4,
    800: 0.6,
    900: 0.8
);

@function substract($a, $b) {
    $value: ($a / 100) - $b;

    @if ($value < 0) {
        @return $value / -1;
    }

    @else {
        @return $value;
    }
}

// e.g. .bg-blue.darken-1
@each $color_key,
$color in $main_colors {

    @each $tint,
    $amount in $amounts {
        @if $tint < 500 {
            .bg-#{$color_key}.darken-#{substract($tint, 5)} {
                background-color: mix($dark, $color, $amount);
            }

            // .text-#{$color_key}.darken-#{substract($tint, 5)} {
            //     color: mix($white, $color, $amount);
            // }
        }

        @else if $tint >500 {
            .bg-#{$color_key}.lighten-#{substract($tint, 5)} {
                background-color: mix($white, $color, $amount);
            }

            // .text-#{$color_key}.darken-#{substract($tint, 5)} {
            //     color: mix($dark, $color, $amount);
            // }
        }

        @else {
            .bg-#{$color_key} {
                background-color: $color;
            }

            // .text-#{$color_key} {
            //     color: $color;
            // }
        }
    }
}

// Test
.body {
    font-size: 50px;
    background-color: $blue;
}

$bg_dark: rgba(38, 38, 38, 1);

%slide_dropdown {
    position: absolute;
    transition: all .3s ease;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

.slide {
    & {
        &-enter-active,
        &-leave-active {
            @extend %slide_dropdown;
        }
    
        &-enter-from,
        &-enter-to {
            opacity: 0;
            transform: translateX(-15px);
        }
    
        &-enter-to,
        &-enter-from {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    &up {
        &-enter-active,
        &-leave-active {
            @extend %slide_dropdown;
        }

        &-enter-from,
        &-enter-to {
            opacity: 0;
            transform: translateY(15px);
        }
        
        &-enter-to,
        &-enter-from {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

// Intro

.intro {
    height: 50vh;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;

    &-80 {
        height: 80vh;
    }

    &-100 {
        height: 100vh;
    }
}

.bg-image {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

// scrollbar

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #6c757d;
}

::-webkit-scrollbar-track {
    background: #F5F5F5;
}

