.body {
    font-size: 50px;
    background-color: blue;
}

$bg_dark: rgba(38, 38, 38, 1);

%slide_dropdown {
    position: absolute;
    transition: all .3s ease;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

.slide {
    & {
        &-enter-active,
        &-leave-active {
            @extend %slide_dropdown;
        }
    
        &-enter-from,
        &-enter-to {
            opacity: 0;
            transform: translateX(-15px);
        }
    
        &-enter-to,
        &-enter-from {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    &up {
        &-enter-active,
        &-leave-active {
            @extend %slide_dropdown;
        }

        &-enter-from,
        &-enter-to {
            opacity: 0;
            transform: translateY(15px);
        }
        
        &-enter-to,
        &-enter-from {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

// Intro

.intro {
    height: 50vh;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;

    &-100 {
        height: 100vh;
    }
}

.bg-image {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

// scrollbar

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #6c757d;
}

::-webkit-scrollbar-track {
    background: #F5F5F5;
}

